MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=root123456
MYSQL_DATABASE=auto_platform
MYSQL_USER=auto_user
MYSQL_PASSWORD=auto123456

DB_URL=jdbc:mysql://127.0.0.1:3306/auto_platform?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
DB_USERNAME=auto_user
DB_PASSWORD=auto123456
BACKEND_PROFILE=local-mysql
